body {
	background:#FFFFFF;
	flex-direction: column;
    width: 100%;
    height: 100%;
}
body, main {
    display: flex;
}

main {
    flex-direction: row;
    flex: auto;
}

article, aside {
    overflow-y: auto;
}

aside {
    flex: 1;
}

article {
    flex: 2;
}